@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ul,ol,li{
	list-style-type: none;

}

ul:after,
ol:after,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

a{
	color: #000000;
}
body{
	display: block;
	font-family: 'Raleway', sans-serif;
	/* font-family: 'Zen Tokyo Zoo', cursive; */
	/* font-family: 'Passion One', cursive; */
}
main, div.proj-list-con{
	display: block;
	width: 100%;
}

.proj-list-con ul{
	display: flex;
	flex-wrap: wrap;
}


.figure {
	/* flex: 1 0 21%; */
	width: 33.33%;
	/* margin: 2%; */
	/* height: 100px; */
	/* border: 1px solid red; */
	background-color: transparent;
	overflow: hidden;
	position: relative;
	text-align: center;
	/* background-color: black; */
}

.figure a{
	text-decoration: none;
	width: 100%;
	display: block;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.figure a img{
	width: 100%;
	display: block;
}

/* Blur */
.figure a img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
	/* background-color: black; */
	/* opacity: 0.9; */
}

.caption{
	color: black;
	background-color: #ccc3c375;
	display: block;
	position: absolute;
	top: 50%;
	bottom: 50%;
	right: 0;
	left: 0;
	text-align: center;
	height: fit-content;
	opacity: 0;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.figure:hover .caption{
	opacity: 1;
}

.caption span{
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.caption p{
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 500;
}
@media screen and (max-width: 768px) {
	.figure{
		width: 50%;
	}
  }

@media screen and (max-width: 640px) {
	.figure{
		width: 100%;
	}
}